$width: 260px;
$layer-padding: 6px;
$layer-blob-size: 64px;

.layers-panel {
    width: $width;
    min-width: $width;
    border-left: 2px solid $bg;

    .layers-panel-content {
        height: 100%;

        &::-webkit-scrollbar {
            display: none;
        }
    }
    .layers-list {
        width: 100%;

        .layer {
            max-width: 100%;
            padding: 0 $layer-padding;

            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2px;
            
            border-radius: $border-radius;
            background: $panel-bg;

            transition: .1s transform;
            cursor: pointer;
            pointer-events: all !important;
            
            .layer-blob-wrapper {
                width: max-content;
                min-width: $layer-blob-size;
                max-width: 72px;
                height: max-content;
                min-height: $layer-blob-size;
                
                display: flex;
                justify-content: center;
                overflow: hidden;

                border-radius: calc($border-radius - 4px);
                background: lighten($bg, 3);

                transition: .1s;

                .layer-blob {
                    height: $layer-blob-size;
                    
                    object-fit: contain;
                    image-rendering: pixelated;
                }
            }
            .layer-action-buttons {
                pointer-events: none;

                > .button {
                    transition: .1s transform;
                }
                > .button:not(.show) {
                    opacity: 0;
                }
                
            }
            .layer-content {
                max-width: calc(100% - 30px);
                padding: $layer-padding 0;
                
                &:active {
                    .layer-blob-wrapper {
                        transform: scale(.95);
                    }
                }
            }
            
            &:hover, &.selected {
                background: $bg;
                
                .layer-action-buttons {
                    pointer-events: all;
                    > .button {
                        &:not(.show) {
                            opacity: .4;
                        }
                        &:disabled {
                            opacity: .2;
                        }
                    }
                }
            }
            &.active {
                background: lighten($bg, 1);
            }
            
        }
        
    }

    // View modes
    &.view-short-list {
        .layer {
            padding: 4px 10px;
            border: none;
            margin-bottom: 5px;
            
            .layer-blob-wrapper {
                display: none;
            }
            .layer-action-buttons {
                flex-direction: row;
            }
        }
    }
    
}