$palette-width: 60px;
$grid-size: 30px;
$list-size: 44px;

.palette-panel {
    width: $palette-width;
    min-width: max-content;
    height: 100%;
    
    border-left-width: 2px solid $bg;

    .panel-header {
        min-height: $subpanel-height;
        margin-bottom: 0 !important;
        padding: 0 !important;
    }
    
    .tooltip-wrapper {
        // max-height: 130px;
        animation: palette-color ease .1s;
    }
    .palette-color-wrapper {
        width: 100%;
        height: 100%;

        border-radius: inherit;
        
        &.last-active {
            .palette-color::before {
                border-width: 3px;
            }
        }
        &.active, &:hover {
            .palette-color {
                z-index: 2;
                &::after {
                    opacity: 1;
                    outline-width: 3px;
                }
            }
        }
    }
    .palette-colors-list {
        width: 100%;
        height: 100%;
        padding-bottom: 4px;
        
        .palette-color {
            width: 100%;
            height: 100%;

            border-radius: inherit;
            
            cursor: pointer;
            
            &::after {
                content: "";

                width: 100%;
                height: 100%;

                position: absolute;
                left: 0;
                top: 0;

                background: transparent;
                outline: 0px solid #fff;
                border-radius: inherit;
                
                transition: .05s outline;
            }
            &::before {
                content: "";

                width: calc(100% - 6px);
                height: calc(100% - 6px);

                position: absolute;
                left: 0;
                top: 0;

                border: 0px solid #fff;
                border-radius: inherit;
            }
            .last-active-indicator {
                width: 100%;
                height: 100%;
                padding: 5px;

                overflow: hidden;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
        
    }

    .palette-panel-scroll {
        height: 100%;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    // View modes
    &.view-grid {
        .palette-panel-scroll {
            overflow-y: scroll;
        }
        .palette-colors-list {
            padding-top: 3px;
            display: grid;
            grid-template-columns: $grid-size $grid-size;
            grid-template-rows: repeat(auto-fill, $grid-size);
            grid-gap: 6px;
        }
        .palette-color {
            width: $grid-size;
            height: $grid-size;
            border-radius: $border-radius;
        }
    }
    &.view-list .palette-colors-list {
        display: grid;
        grid-template-columns: $list-size;
        grid-template-rows: auto;
    }
    
}
.preview-palette {
    width: 100%;
    // padding: 4px;

    display: flex;
    align-items: center;

    // border: 2px solid transparent;
    // border-radius: calc($border-radius + 4px);

    // cursor: pointer;
    @extend .auto-borders;
    @extend .hor;

    // &.active {
    //     border: 2px solid $blue;
    // }
    .color {
        width: 100%;
        height: 100%;
    }
    
}

@keyframes palette-color {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}