.toolbar {
    width: max-content;
    padding: 5px;

    .toolbar-tools {
        display: flex;
        flex-direction: column;
        
        .toolbar-tool {
            width: 50px;
            height: 50px;
            padding: 0;
            border-radius: inherit;
            transition: .1s transform !important;
        }
    }
    
}

.tool-settings {
    height: $subpanel-height;
    min-height: $subpanel-height;
    padding: 0 20px;
    
    border-bottom: 2px solid $bg;
}