$dropdown-menu-padding: 6px;
$dropdown-menu-bg: lighten($bg, 4);

.dropdown-menu-wrapper {
    &.active {
        > .dropdown-menu-pos {
            pointer-events: all;
        }
    }
    
    > .dropdown-menu-pos {
        left: 0;
        top: 0;
        z-index: 889;

        pointer-events: none;
    }
}
.dropdown-menu {
    padding: $dropdown-menu-padding;
    
    transform: translateY(10px);
    
    background: transparentize($dropdown-menu-bg, .05);
    backdrop-filter: blur(15px);
    border-radius: calc($border-radius + $dropdown-menu-padding);
    opacity: 0;

    transition: .1s ease-out;
    pointer-events: none;

    &.active {
        opacity: 1;
        transform: translateY(0);
        transition: .1s transform ease-out;
        pointer-events: all;
    }
    
    > .dropdown-menu-content .dropdown-menu-buttons-group {
        &:not(:last-child) {
            &::after {
                content: "";
    
                width: 100%;
                height: 2px;
    
                position: absolute;
                // left: 10px;
                bottom: -6px;
    
                background: transparentize($dark-grey, .04);
                // border-radius: 2px;
            }
        }

        .dropdown-menu-button {
            width: 100%;
            padding: 0 10px;
            justify-content: flex-start !important;
            
            transition: .1s transform;
            
            &:not(:disabled):hover {
                background: lighten($dropdown-menu-bg, 7) !important;
            }
        }
    }
}