$tooltip-margin: 20px;
$tooltip-translate: 4px;
$tooltip-scale: .8;

.tooltip-wrapper {
    &:not(:active):hover {
        .tooltip {
            opacity: 1;
        }
    }
    &:not(:hover), &:active {
        .tooltip {
            transition-delay: 0s !important;
        }
    }
    
    .tooltip-children {
        height: 100%;
        border-radius: inherit;
    }
    .tooltip-pos {
        z-index: 888;
    
        position: absolute;
        left: 0;
        top: 0;

        pointer-events: none;
    }
    .tooltip {
        width: max-content;
        padding: 10px 15px;
    
        background: lighten($bg, 3);
        border-radius: $border-radius;
        opacity: 0;

        transition: .1s cubic-bezier(0.25, 0.1, 0.44, 1.47);
        @include box-shadow;
        
        &::after {
            content: "";
            
            width: 10px;
            height: 10px;
            
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            
            background: inherit;
        }
        &.color-blue {
            background: $blue;
            .key {
                background: rgba(255, 255, 255, .2);
                color: rgba(255, 255, 255, .8);
            }
            .text-muted {
                color: rgba(255, 255, 255, .6) !important;
            }
        }
    }

    &[data-placement="right"] {
        .tooltip {
            transform: translate(0, calc($tooltip-translate)) scale($tooltip-scale);

            &::after {
                left: 0;
                top: 50%;
                border-bottom-left-radius: 2px;
            }
        }
        &:not(:active):hover .tooltip {
            transform: translate(0, 0) scale(1);
        }
    }
    &[data-placement="left"] {
        .tooltip-pos {
            transform: translate(-100%, 0);
        }
        .tooltip {
            transform: translate(0, calc($tooltip-translate)) scale($tooltip-scale);
            
            &::after {
                left: 100%;
                top: 50%;
                border-top-right-radius: 2px;
            }
        }
        &:not(:active):hover .tooltip {
            transform: translate(0, 0) scale(1);
        }
    }
    &[data-placement="top"] {
        .tooltip-pos {
            transform: translate(0, -100%);
        }
        .tooltip {
            transform: translate(0, calc($tooltip-translate)) scale($tooltip-scale);

            &::after {
                left: 50%;
                top: 100%;
                border-bottom-right-radius: 2px;
            }
        }
        &:not(:active):hover .tooltip {
            transform: translate(0, 0) scale(1);
        }
    }
    &[data-placement="bottom"] {
        .tooltip {
            transform: translate(0, $tooltip-translate) scale($tooltip-scale);

            &::after {
                left: 50%;
                top: 0;
                border-top-left-radius: 2px;
            }
        }
        &:not(:active):hover .tooltip {
            transform: translate(0, 0) scale(1);
        }
    }
}