.tool-settings-popover {
    min-width: 120px;
    
    .popover-content {
        display: flex;
        flex-direction: column;
    }
    .tool-settings-container {
        width: 100%;

        flex-direction: column;
        align-items: flex-start;

        .checkbox-wrapper {
            width: 100%;
            
            justify-content: space-between;
            flex-direction: row-reverse;
        }
        .tool-property{
            &:not(:last-child) {
                margin: 0 !important;
                margin-bottom: 15px !important;
            }
            .checkbox {
                margin: 0 !important;
            }
        }
        
        > div {
            width: 100%;
        }
        hr {
            display: none;
        }
    }
}