.window-draggable-wrapper {
    margin: 10px;
    position: fixed;
    left: 100px;
    top: 100px;
    z-index: 888;

    &:focus .window {
        border: 2px solid darken($blue, 8);
        .window-header .button {
            opacity: 1;
        }
    }
    
}
.window {
    min-width: 200px;
    padding: 4px;

    border: 2px solid transparent;

    .window-header {
        width: 100%;
        padding: 4px 8px;
        padding-bottom: 0;
        color: $grey;

        cursor: grab;

        &:active {
            cursor: grabbing;
        }
        .button {
            opacity: .3;
        }
        
    }
    .window-content {
        width: 100%;
        height: min-content;
        padding: 8px;
    }
    
}
.opacity-box {
    background: transparentize($panel-bg, .1);
    backdrop-filter: blur(15px);
    border-radius: $border-radius;
}