.button {
    width: 100%;
    height: 34px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: lighten($bg, 4);
    border: none;
    border-radius: $border-radius;

    &:not(:disabled) {
        cursor: pointer;
    }
    transition: .1s;

    @include ff;

    &:not(.static):not(:disabled):active {
        transform: translateY(2px);
    }
    &:not(:disabled):hover {
        background: lighten($bg, 6);
    }

    // Children
    .icon-wrapper {
        width: 18px;
        height: 18px;
        
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    // Colors
    &.color-transparent {
        background: transparent;
        &:not(:disabled):hover {
            background: transparentize(lighten($bg, 6), .4);
        }
    }
    &.ghost {
        background: transparent !important;
        &:not(:disabled):hover {
            opacity: .8;
        }
    }
    &.color-red {
        background: $red;
        &:not(:disabled):hover {
            background: lighten($red, 4);
        }
    }
    &.active, &.color-blue {
        background: $blue;
        &:not(:disabled):hover {
            background: lighten($blue, 4);
        }
    }

    // Sizes
    &.size-small {
        padding: 0;
        width: 24px;
        height: 24px;
    }
    &.size-middle {
        padding: 0;
        width: 34px;
        min-width: 34px;
        height: 34px;
    }
    &.size-fit {
        width: max-content;
    }

    // Types
    &.type-fab {
        width: 40px;
        min-width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 50%;

        &.middle {
            width: 32px;
            min-width: 32px;
            height: 32px;
        }
        
    }
    &.type-link {
        width: max-content;
        height: max-content;
        padding: 0;


        background: transparent !important;
        color: $blue;

        &:hover {
            opacity: .8;
        }
        
    }
    
    &.p-0 {
        padding: 0;
    }
    
    &:disabled {
        opacity: .2;
    }
}