$context-menu-bg: lighten($bg, 2);
$context-menu-padding: 5px;

.context-menu-wrapper {
    position: fixed;
    z-index: 9999;
    left: 100px;
    top: 100px;

    pointer-events: none;

    &.active {
        pointer-events: all;

        .context-menu {
            transform: translateY(0);
            opacity: 1;

            transition: .1s transform ease-out;
        }
        
    }
    
}
.context-menu {
    padding: $context-menu-padding;

    transform: translateY(10px);
    opacity: 0;
    
    background: transparentize($context-menu-bg, .05);
    backdrop-filter: blur(15px);
    border-radius: calc($border-radius + $context-menu-padding);

    transition: .1s ease-out;

    .context-menu-buttons-group {
        &:not(:last-child) {
            &::after {
                content: "";

                width: calc(100% - 20px);
                height: 2px;

                position: absolute;
                left: 10px;
                bottom: -6px;

                background: $dark-grey;
                border-radius: 2px;
            }
        }
    }
    .context-menu-button {
        width: 100%;
        padding: 0 10px;
        justify-content: flex-start !important;
        
        transition: .1s transform;
        
        .icon-wrapper {
            width: 18px;
            height: 18px;
            
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
        }
        &:not(:disabled):hover {
            background: lighten($bg, 10) !important;
        }
    }
    
}