.key {
    padding: 2px 4px;
    font-family: monospace !important;
    
    background: lighten($bg, 10);
    border-radius: calc($border-radius/2);
    color: $grey;
    white-space: nowrap;
}
.group-box {
    &::after {
        content: "";

        width: calc(100% + 10px);
        height: calc(100% + 10px);

        position: absolute;
        left: -6px;
        top: -7px;

        border: 2px solid transparentize($grey, .25);
        border-radius: $border-radius + 4px;
        background: transparent;
        opacity: 0;
        pointer-events: none;

        transition: .5s;
    }
    &:hover {
        &::after {
            opacity: 1;
            transition-delay: .4s;
            transition-duration: .2s;
        }
    }
}

.show-on-hover-trigger {
    .show-on-hover {
        opacity: 0;
    }
    &:hover {   
        .show-on-hover {
            opacity: 1;
        }
    }
}
.checkerboard {
    background: url(../../public/img/checkerboard.png);
}
.color-bubble {
    width: 14px;
    min-width: 14px;
    height: 14px;

    border-radius: 50%;

    &.size-middle {
        width: 16px;
        min-width: 16px;
        height: 16px;
    }
    
}
.pipette {
    width: 78px;
    height: 78px;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 777;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    border: 6px solid #fff;
    outline: 2px solid #fff !important;

    transition: .1s border;
    pointer-events: none;
}
.trans {
    transition: .1s;
}

.preview-canvas {
    width: 164px;
    height: 164px;
    image-rendering: pixelated;

    background: url(../../public/img/checkerboard.png);
    border-radius: 2px;

    &.by-width {
        width: 100%;
        height: auto;
    }
    &.by-height {
        width: auto;
        height: 100%;
    }
    
}

.badge {
    padding: 4px 6px;
    padding-top: 3px;

    background: lighten($bg, 4);
    border-radius: 20px;
}

.border-box {
    width: max-content;
    // height: max-content;
    padding: 20px;

    border: 2px solid darken($bg, 2);
    border-radius: calc($border-radius);
}