.notification {
    width: 100%;
    padding: 1em 1.4em;
    
    color: #fff;
    background: lighten($bg, 6);
    border-radius: $border-radius;

    &.color-blue {
        background: $blue;
    }
    &.color-red {
        background: $red;
    }
    
}

.editor-notification-wrapper {
    width: max-content;
    
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px;
    z-index: 999;
    pointer-events: none;
    
    .notification {
        width: max-content !important;
    }
}