@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');
@import "./erid.scss";

$bg: #101013;
$panel-bg: darken($bg, 2);
$blue: #137dff;
$red: #ff183f;
$green: #28be67;
$grey: transparentize(#fff, .7);
$dark-grey: transparentize(#fff, .9);

$border-radius: 6px;

@mixin ff {
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #fff;
}
@mixin box-shadow {
    box-shadow: 0 12px 25px -8px rgba(0,0,0, .4);
}

body {
    background: $bg;
    overflow-x: hidden;

    @include ff;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: $bg;
}
::-webkit-scrollbar-thumb {
    background: darken($bg, 6);
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background: darken($bg, 4);
    }
}

@import "./typography.scss";
@import "./components/buttons.scss";
@import "./components/inputs.scss";
// Pages
@import "./pages/welcome.scss";
// Editor
@import "./components/editor/editor.scss";

@import "./components/editor/panels/panel.scss";
@import "./components/editor/panels/palette-panel.scss";
@import "./components/editor/panels/layers-panel.scss";
@import "./components/editor/panels/menubar-panel.scss";
@import "./components/editor/panels/toolbar.scss";
@import "./components/editor/panels/frames-panel.scss";

@import "./components/editor/windows/drop-down-menu.scss";
@import "./components/editor/windows/window.scss";
@import "./components/editor/windows/tooltip.scss";
@import "./components/editor/windows/popover.scss";
@import "./components/editor/windows/context-menu.scss";
@import "./components/editor/windows/full-window.scss";
@import "./components/editor/windows/custom/tool-settings-popover.scss";
@import "./components/editor/windows/custom/export-image-window.scss";
@import "./components/editor/windows/custom/projects-window.scss";
@import "./components/editor/windows/custom/resize-canvas-window.scss";
@import "./components/editor/windows/custom/modifier-window.scss";
@import "./components/editor/windows/custom/welcome-window.scss";

@import "./components/editor/notification.scss";
@import "./components/editor/color-picker.scss";
@import "./components/editor/timeline/animation-timeline.scss";
@import "./components/editor/projects.scss";

@import "./components/misc.scss";

.page {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.clickable {
    cursor: pointer;
}
.auto-borders {
    &:not(.hor) > * {
        border-radius: 0;
        &:first-child {
            border-top-left-radius: $border-radius !important;
            border-top-right-radius: $border-radius !important;
        }
        &:last-child {
            border-bottom-left-radius: $border-radius !important;
            border-bottom-right-radius: $border-radius !important;
        }
    }
    &.hor > * {
        border-radius: 0;
        &:first-child {
            border-top-left-radius: $border-radius !important;
            border-bottom-left-radius: $border-radius !important;
        }
        &:last-child {
            border-top-right-radius: $border-radius !important;
            border-bottom-right-radius: $border-radius !important;
        }
    }
}

hr {
    width: calc(100% - 20px);
    height: 2px;

    border: none;
    background: transparentize($grey, .25);

    &.vertical {
        width: 2px;
        height: 24px;
    }
    
}

$color-size: 16px;

.current-colors-indicator {
    width: $color-size;
    height: $color-size;
    .color {
        width: $color-size;
        height: $color-size;

        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;

        &.alpha {
            background-image: url("../public/img/checkerboard.png");
        }
        
        &.current {
            width: calc($color-size + 4px);
            height: calc($color-size + 4px);
            transform: translate(-5px, -5px);
            border: 2px solid $panel-bg;
            z-index: 1;
        }
        &.last {
            transform: translate(5px, 5px);
        }
        
    }
}
.beta {
    color: rgba(255, 255, 255, .1);
}
.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}