.text-blue {
    color: $blue !important;
}
// .text-muted {
//     color: rgb(124, 124, 124) !important;
// }
.text-muted {
    color: $grey !important;
}
.icon-muted {
    color: rgb(124, 124, 124) !important;
}
.text-center {
    text-align: center;
}
.fw-500 {
    font-weight: 500;
}
.fs-medium {
    font-size: 18px;
}
.fs-small {
    font-size: 12px;
}
.no-wrap {
    white-space: nowrap;
}

.link {
    text-decoration: none;
    color: inherit;
}

label {
    cursor: pointer;
}
h1 {
    font-family: "Fredoka", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}