$color-size: 38px;

.palette-window {
    .palette {
        height: 100%;
        
        display: grid;
        grid-template-columns: repeat(6, $color-size);
        grid-template-rows: repeat(auto-fill, $color-size);
        grid-gap: 10px;

        &.view-list {
            grid-template-columns: repeat(2, calc(($color-size * 6 + 40px) / 2));
            .color {
                width: 100%;
            }
        }
        
        .color {
            width: $color-size;
            height: $color-size;

            outline: 0px solid #fff !important;
            border-radius: $border-radius;

            cursor: pointer;
            transition: .05s;
            
            &.active {
                outline: 4px solid #fff !important;
            }
        }
    }
}