.logo {
    image-rendering: pixelated;
    width: 80px;
    height: 80px;
    &.small {
        width: 40px;
        height: 40px;
    }
}
.bogdanov {
    width: 100px;
    height: 40px;
    transform: translateY(2px);
    image-rendering: pixelated;
}
.welcome-window-wrapper {
    width: 100%;
    height: 100%;
    padding-right: 6px;
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    
    background: $bg;
}
.welcome-window {
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    
    background: $bg;

    .section-head {
        padding: 30px 10px;
        background: $bg;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 888;
        margin-bottom: 0 !important;
    }
    .content {
        .banner {
            width: 100%;
            height: 360px;

            background: $panel-bg;
            border-radius: 10px;
            overflow: hidden;

            img {
                image-rendering: pixelated;
            }

            .source {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 20px;
                font-weight: 500;
                font-style: 16px;
                text-shadow: 0 0 10px #000;
            }
            
        }
    }
    .new-project-variants {
        // flex-wrap: wrap;
        
        .variant {
            width: 100%;
            min-width: 120px;
            height: 120px;

            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            
            background: lighten($bg, 4);
            font-size: 16px;
            border-radius: $border-radius;
            border: 2px solid transparent;
            
            cursor: pointer;
            transition: .1s transform;

            span {
                z-index: 1;
            }

            &:hover {
                background: lighten($bg, 6);
            }
            &:active {
                transform: scale(.95);
            }
            &.active {
                border: 2px solid $blue;
            }
            
        }
    }

    .footer {
        margin-top: 40px;
    }
    
}
.palette-preset {
    width: 260px;
    height: 40px;
    padding: 4px;

    border: 2px solid transparent;
    border-radius: calc($border-radius + 4px);
    
    cursor: pointer;

    .color {
        width: 100%;
        height: 100%;
    }
    &.active {
        border: 2px solid $blue;
    }
    
}
.news-list {
    .news {
        width: 100%;
        .image {
            width: 100%;
            height: 220px;
            // height: fit-content;
        }
    }
}